@import '~bootstrap/scss/bootstrap';

.wrapper
{
	width: 800px;
	margin: auto;
}


body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer#footer
{
    margin-top: auto;
}

footer .copyright
{
    text-align: center;
    color: #aaa;
    direction: rtl;
    padding: 50px 0 30px 0;
}

#user-index #posts .post .title
{
    color: #0074d9;
    font-size: 25px;
    font-weight: 600px;
    display: block;
}
#user-index #posts .post .date
{
    color: #aaabd3;
    font-size: 14px;
}
#user-index #posts .post .summary
{
    color: #333;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 40px;
}

.pagination
{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.pagination li{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:rgba(0, 0, 0, .04);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;

}
.pagination li.page-item .active
{
    background-color:#0074d9;
}
